/*--------------------------------------------------------------
#2 common
--------------------------------------------------------------*/
/* Reset */
* {
    box-sizing: border-box;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
img {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

code {
    font-family: sans-serif;
}

body#popup {
    min-width: 0;
}

li {
    list-style: none;
}

img,
fieldset {
    border: none;
    vertical-align: top;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    display: none;
}

th,
td {
    border: 0;
    vertical-align: middle;
    text-align: left;
}

button {
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}

hr.layout {
    display: none;
}

a,
a:visited {
    text-decoration: none;
    color: var(--anchor-color);
}

a:hover {
    color: var(--anchor-color-hover);
}

a:active {
    text-decoration: none;
}

strong {
    font-weight: var(--font-bold);
}

body {
    max-width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a,
a span,
a:visited {
    text-decoration: none;
}

label[for] {
    cursor: pointer;
}

/*íŒë‹¤ì”¨ ë°°ë„ˆ ìŠ¤íƒ€ì¼*/
[pandassi-banner-group]:not([pandassi-banner-group="ready"]) {
    display: none !important;
}

/* // Reset */

/* original form styles */
input[type="text"],
input[type="password"] {
    padding: 0px 10px;
    width: 100%;
}

textarea {
    font-family: var(--primary-font-family);
    color: var(--body-default-color);
    border-color: var(--input-border-color);
}

legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
}

table tr.radioType input,
span.noBorder input {
    border: none !important;
    width: auto !important;
    height: auto !important;
    margin: 0 3px 0 0 !important;
    vertical-align: middle !important;
    background: none !important;
}

/* //original form styles */

/*btn priority*/
.btn {
    white-space: nowrap;
    background: none;
    appearance: none;
    padding-left: var(--btn-px-padding);
    padding-right: var(--btn-px-padding);
    font-family: var(--primary-font-family);
}

.btn.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.btn.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.btn.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.btn.height-auto {
    height: auto;
}

.btn.simple-link {
    padding: 0;
}

.btn.is-small {
    height: var(--btn-small-height);
}

.btn.is-big {
    height: var(--btn-big-height);
    font-size: calc(16 / var(--font-1rem-size-no-only) * 1rem);
    font-weight: var(--font-bold);
}

.btn.custom-is-border-bottom {
    padding: 0;
    /* border-bottom: 1px solid var(--anchor-color); */
    text-decoration:underline;
    color: var(--anchor-color);
    font-size: calc(12 / var(--font-1rem-size-no-only) * 1rem);
    height: auto;
}

.btn.is-padded {
    padding: var(--btn-is-padded);
    border: 1px solid var(--btn-border-is-padded);
    height: auto;
    line-height: 1;
}

.btn.justify-center {
    justify-content: center;
}

.btn.prior-1 {
    background: var(--btn-bg-prior-1-color);
    border: 1px solid var(--btn-border-prior-1-color);
    color: var(--btn-prior-1-color);
}

.btn.prior-1:hover {
    background: var(--btn-bg-prior-1-color-hover);
    border: 1px solid var(--btn-border-prior-1-color-hover);
    color: var(--btn-prior-1-color-hover);
}

.btn.prior-2 {
    background: var(--btn-bg-prior-2-color);
    border: 1px solid var(--btn-border-prior-2-color);
    color: var(--btn-prior-2-color);
}

.btn.prior-2.selected {
    background: var(--btn-bg-prior-2-color-hover);
    border: 1px solid var(--btn-border-prior-2-color-hover);
    color: var(--btn-prior-2-color-hover);
}

.btn.prior-2:hover {
    background: var(--btn-bg-prior-2-color-hover);
    border: 1px solid var(--btn-border-prior-2-color-hover);
    color: var(--btn-prior-2-color-hover);
}

.btn.custom-is-em {
    background: var(--btn-bg-custom-is-em-color);
    border: 1px solid var(--btn-border-custom-is-em-color);
    color: var(--btn-custom-is-em-color);
    height: var(--btn-big-height);
    font-size: calc(18 / var(--font-1rem-size-no-only) * 1rem);
    font-weight: var(--font-bold);
}

.btn.custom-is-em:hover {
    background: var(--btn-bg-custom-is-em-color-hover);
    border: 1px solid var(--btn-border-custom-is-em-color-hover);
    color: var(--btn-custom-is-em-color-hover);
}


.btn.soldout-btn {
    background: var(--sold-out-color);
    border: 1px solid var(--sold-out-color);
    cursor: not-allowed;
}
.btn.is-custom {
    max-width: 225px;
    width: 100%;
}


/* dv fields */

.dv-field.has-addons {
    display: flex;
}

.dv-field.has-addons>.dv-control,
.dv-field.has-addons>.btn {
    margin-right: 10px;
}

.dv-field.has-addons>.dv-control:last-child,
.dv-field.has-addons>.btn:last-child {
    margin-right: 0;
}

/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
/* Bulma Utilities */
.btn,
.input,
.dv-control>input,
.dv-control>select,
.dv-control.has-control-children input,
.dv-control.has-control-children select,
.textarea,
.select select,
.file-cta,
.file-name,
.ec-address input,
.ec-address select,
select,
body .ec-solution-layer select,
body #mCafe24SnsAgree input,
body #mCafe24SnsAgree select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: var(--form-element-height);
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}

.child-width-full .btn,
.child-width-full .input,
.dv-control.child-width-full>input,
.dv-control.child-width-full>select,
.dv-control.child-width-full .has-control-children input,
.dv-control.child-width-full .has-control-children select,
.child-width-full .textarea,
.child-width-full.select select,
.child-width-full .file-cta,
.child-width-full .file-name {
    width: 100%;
}


.btn:focus,
.input:focus,
.textarea:focus,
.select select:focus,
.file-cta:focus,
.file-name:focus,
.is-focused.btn,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.is-focused.file-cta,
.is-focused.file-name,
.btn:active,
.input:active,
.textarea:active,
.select select:active,
.file-cta:active,
.file-name:active,
.is-active.btn,
.is-active.input,
.is-active.textarea,
.select select.is-active,
.is-active.file-cta,
.is-active.file-name {
    outline: none;
}

select[disabled],
.btn[disabled],
.input[disabled],
.textarea[disabled],
.select select[disabled],
.file-cta[disabled],
.file-name[disabled],
fieldset[disabled] .btn,
fieldset[disabled] .input,
fieldset[disabled] .textarea,
fieldset[disabled] .select select,
.select fieldset[disabled] select,
fieldset[disabled] .file-cta,
fieldset[disabled] .file-name {
    cursor: not-allowed;
}

.btn,
.file,
.breadcrumb {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
}

.dv-control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

/* Bulma Form */
.input,
.textarea,
textarea,
.select select,
.dv-control>input,
.dv-control>select,
.dv-control.has-control-children input,
.dv-control.has-control-children select,
.ec-address input,
.ec-address select,
select, 
body #mCafe24SnsAgree input:not([type="radio"]),
body #mCafe24SnsAgree select {
    background-color: #fff;
    border-color: var(--input-border-color);
    color: var(--body-default-color);
}

.dv-control>input[type=radio],
.dv-control>input[type=checkbox],
.dv-control>input[type=file],
.dv-control.has-control-children input[type=radio],
.dv-control.has-control-children input[type=checkbox],
.dv-control.has-control-children input[type=file],
.ec-address input[type=radio],
.ec-address input[type=checkbox],
.ec-address input[type=file] {
    border: 0;
    padding: 0;
}

.dv-control>input[type=file],
.dv-control.has-control-children input[type=file] {
    height: auto;
}

.input:hover,
.textarea:hover,
.select select:hover,
.is-hovered.input,
.is-hovered.textarea,
.select select.is-hovered,
.dv-control>input:hover,
.dv-control>select:hover,
.dv-control.has-control-children input:hover,
.dv-control.has-control-children select:hover,
textarea:hover {
    border-color: var(--input-hover-color);
}

.input:focus,
.input:active,
.dv-control>input:focus,
.dv-control>input:active,
.dv-control.has-control-children input:focus,
.dv-control.has-control-children select:focus,
.textarea:focus,
.select select:focus,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.input:active,
.textarea:active,
.select select:active,
.is-active.input,
.is-active.textarea,
.select select.is-active,
textarea:focus {
    border-color: var(--input-focus-color);
    outline: 0;
}

.input[disabled],
.dv-control>input[disabled],
.textarea[disabled],
.dv-control.has-control-children input[disabled],
.dv-control.has-control-children select[disabled],
.select select[disabled],
fieldset[disabled] .input,
fieldset[disabled] .textarea,
fieldset[disabled] .select select,
.select fieldset[disabled] select,
textarea[disabled] {
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a;
}

.input,
.textarea,
.dv-control>input,
.dv-control>select,
.dv-control.has-control-children input,
.dv-control.has-control-children select,
body #mCafe24SnsAgree input:not([type="checkbox"]):not([type="radio"]),
body #mCafe24SnsAgree select {
    max-width: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.dv-control.child-width-auto>* {
    width: auto;
}

.dv-control.is-small>input {
    height: 1.5em;
}

.dv-control.is-small>input[type=text],
.dv-control.is-small>input[type=number] {
    min-width: 32px;
}

.dv-control.has-control-children input,
.dv-control.has-control-children select {
    flex: 1 1 auto;
}

/*checkbox*/
.checkbox {
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    border: 0;
}

input:checked+.checkbox {
    background-position: 0 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23fff' stroke='%23ddd' stroke-width='1'%3E%3Crect width='16' height='16' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' fill='none'/%3E%3C/g%3E%3Cpath d='M10277.8,2062l2.2,3.2,6.4-7' transform='translate(-10274.299 -2053.7)' fill='none' stroke='%23ddd' stroke-width='1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

input[type="checkbox"],
input[type="radio"],
.dv-control.has-control-children input[type=radio],
.dv-control.has-control-children input[type=checkbox] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23fff' stroke='%23ddd' stroke-width='1'%3E%3Crect width='16' height='16' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' fill='none'/%3E%3C/g%3E%3Cpath d='M10277.8,2062l2.2,3.2,6.4-7' transform='translate(-10274.299 -2053.7)' fill='none' stroke='%23ddd' stroke-width='1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    border-radius: 0;
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]:checked,
.dv-control.has-control-children input[type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg stroke='%23000' stroke-width='1'%3E%3Crect width='16' height='16' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' fill='none'/%3E%3C/g%3E%3Cpath d='M10277.8,2062l2.2,3.2,6.4-7' transform='translate(-10274.299 -2053.7)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E");
}

/* radio */
input[type="radio"]:checked,
.dv-control.has-control-children input[type=radio]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23fff' stroke='%23ddd' stroke-width='1'%3E%3Crect width='16' height='16' rx='8' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='7.5' fill='none'/%3E%3C/g%3E%3Crect width='10' height='10' rx='5' transform='translate(3 3)'/%3E%3C/svg%3E");
}

input[type="radio"],
.dv-control.has-control-children input[type=radio] {
    border-radius: 50%;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23fff' stroke='%23ddd' stroke-width='1'%3E%3Crect width='16' height='16' rx='8' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='7.5' fill='none'/%3E%3C/g%3E%3C/svg%3E");
}

/* select */
.select select,
.dv-control>select,
.dv-control.has-control-children select,
select,
#mCafe24SnsAgree select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'%3E%3Cg transform='translate(0 0)'%3E%3Cpath d='M-1224.755-20518.047l-5-4.418.66-.582,4.34,3.832,4.34-3.832.66.582Z' transform='translate(1229.755 20523.047)'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #fff;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
    width: auto;
    max-width: unset;
    padding-left: 10px;
}

/* place holder  */
::placeholder {
    color: var(--input-placeholder-color);
}

/* input help text & error */
.is-help,
.is-error {
    font-size: calc(12 / var(--font-1rem-size-no-only) * 1rem);
}

.is-help {
    color: var(--help-text-color)
}

.is-help.with-border {
    padding: 20px 15px;
    border: 1px solid var(--misc-border-color);
}

.is-help.with-border li+li {
    margin-top: 5px;
}

.is-error {
    color: var(--error-text-color)
}

/* // FORM ELEMENTS */


/* empty post & empty prd */
.is-noData,
.is-no-data {
    padding: 50px 0;
    text-align: center;
    color: var(--no-data-color);
}
.is-noData.py-0,
.is-no-data.py-0  {
    padding:0;
}
.is-no-data.taller {
    padding: 100px 0;
}

.is-noData *,
.is-no-data * {
    margin: 0;
    color: var(--no-data-color);
}

/* //empty post & empty prd */


/* title-area & breadcrumbs */
.title-area {
    margin: 2em 0 3em;
    text-align: center;
}

.title-area h2 {
    font-size: calc(24 / var(--font-1rem-size-no-only) * 1rem);
    text-transform: uppercase;
}

.breadcrumbs {
    overflow: hidden;
}


.breadcrumbs li {
    float: left;
    padding: 0 0 0 12px;
    margin: 0 0 0 8px;
    color: var(--em-font-color);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='10.003' viewBox='0 0 5 10.003'%3E%3Cg transform='translate(0 0.001)'%3E%3Cpath d='M-19062.584-16459.852l-.584-.66,3.834-4.342-3.834-4.34.584-.66,4.416,5Z' transform='translate(19063.168 16469.854)' fill='%23909090'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 0 center;
}

.breadcrumbs li:first-child {
    background: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs li a {
    color: var(--body-default-color);
}

.breadcrumbs li.current,
.breadcrumbs li.current a {
    color: var(--em-font-color);
}

/* //title-area & breadcrumbs*/


/* layer-from-og-tooltip */
/* tooltip í˜•íƒœì—ì„œ layer í˜•íƒœë¡œ ë³€ê²½ */
.layer-from-og-tooltip {
    display: none;
}

.layer-from-og-tooltip.show {
    display: block;
}

/*// layer-from-og-tooltip */

/* íšŒì›ì •ë³´ ìˆ˜ì • ì´ë²¤íŠ¸ ec-base-layer */
#updateEventLayer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}
/* //íšŒì›ì •ë³´ ìˆ˜ì • ì´ë²¤íŠ¸ ec-base-layer */

/* pagination */
.ec-base-paginate {
    margin: 30px 0;
  }
/* //pagination */


/*ë©¤ë²„ì‹­ ìœ ë„ íŒë‹¤ì”¨*/
.cs-txt-box {
    background-color: var(--cs-aside-bg-color);
    word-break: keep-all;
    display:block;
  }
  .info-group {
    padding:40px 40px 10px;
    display:flex;
    flex-wrap:wrap;
    gap:30px;
  }
  .info-box {
    flex-basis:calc((100% / 2) - 30px + (30px / 2));
    text-align: center;
  }
  .info-box .mem-lv-info,
  .info-box a {
    display:block;
  }
  .info-box .mem-lv {
    display:inline-flex;
    padding: 0 14px;
    height:30px;
    line-height:30px;
    border:1px solid #000;
    position:relative;
  }
  .info-box .mem-lv:before {
    content:'';
    width:8px;
    height:8px;
    border:1px solid #000;
    border-radius: 50%;
    position:absolute;
    top:50%;
    left:0;
    transform:translate(-50%,-50%);
    background-color:#fff;
  }
  .info-box .mem-lv:after {
    content:'';
    width:10px;
    height:10px;
    position:absolute;
    top:50%;
    left:-1px;
    transform:translate(-100%,-50%);
    background-color:#fff;
  }
  .info-box .mem-lv-info {
    margin-top:10px;
    
  }
  /*ë©¤ë²„ì‹­ ìœ ë„ íŒë‹¤ì”¨*/