/*--------------------------------------------------------------
#9 member - ## login
--------------------------------------------------------------*/
.drmvsn-login-join {
    min-height:calc(100vh - var(--header-height))
}

.xans-member-login .login-links-center:before {
    content:'';
    width:1px;
    height: 0.75rem;
    background:var(--misc-border-color);
    left:0;
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
}
.xans-member-login .login-links-center:after {
    content:'';
    width:1px;
    height: 0.75rem;
    background:var(--misc-border-color);
    right:0;
    position:absolute;
    top:50%;
    transform:translate(50%,-50%);
}