/*--------------------------------------------------------------
#9 member - ## find id & password
--------------------------------------------------------------*/
/* find id */
.xans-member-findid input[type=radio] {
    margin-right:5px;
    cursor:pointer;
}
.xans-member-findid label {
    cursor:pointer;
}
/*// find id */
/* find id result */
.xans-member-findidresult label {
    cursor:pointer;
}
.xans-member-findidresult .found-ids label {
    display:block;
}
.xans-member-findidresult .found-ids br {
    display:none;
}
/*// find id result */

/*--------------------------------------------------------------
--------------------------------------------------------------*/

/* find pw */
.xans-member-findpasswd input[type=radio] {
    margin-right:5px;
    cursor:pointer;
}
.xans-member-findpasswd label {
    cursor:pointer;
}