.img-banner-big {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.mySwiperBanner {
    margin: 5px 0;
}
.box-content-banner {
    position: absolute;
    bottom: 40px;
    left: 30px;
    right: 30px;
}
.title-slide-banner {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.content-slide-banner {
    font-size: 16px;
    color: white;
    margin-bottom: 0;
}
.swiper-scrollbar {
    width: 120px !important;
    height: 2px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #dddddd;
    bottom: 20px !important;
    opacity: 1 !important;
}
.swiper-scrollbar-drag {
    background-color: black;
}
.box-brand {
    width: 100%;
    background-color: #f9f7f2;
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-brand {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.content-brand {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}
.link-brand {
    font-size: 16px;
    color: black;
    text-decoration: underline;
}

.main-nav-with-img-banner {
    padding: 140px 0;
    text-align: center;
}
.main-nav-with-img-banner > div {
    max-width: 420px;
    margin: 0 auto;
    position: relative;
}
.main-nav-with-img-banner a {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}
.main-nav-with-img-banner > div > div:last-child a {
    margin-bottom: 0;
}
.main-nav-with-img-banner a:hover .nav-list {
    border-bottom: 2px solid #000000;
}
.main-nav-with-img-banner a .nav-img {
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 0 100px;
    max-width: 420px;
    width: 100%;
    padding-top: 114%;
    transition: all 0.3s ease-in-out;
}
#main .lazy {
    transition: 0.2s all linear;
}
.main-nav-with-img-banner a .left .nav-img {
    left: auto;
    right: 100%;
}
.main-nav-with-img-banner a .nav-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top left;
}

.main-nav-with-img-banner a .nav-list:hover .nav-img {
    opacity: 1;
    visibility: visible;
}
.box-collection {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.item-collection {
    width: 45%;
}
.img-collection {
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #7a7a7a;
}
.title-collection {
    color: #000000;
    font-size: 30px;
    font-family: 600;
    padding: 30px 0 20px 0;
    margin-bottom: 0;
    font-weight: bold;
}
.content-collection {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.link-collection {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}
.box-outstanding {
    padding: 100px 50px;
}
.title-outstanding,
.title-official {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
}
.title-official {
    padding: 0 50px;
}
.swiper-slide-thumb-active p {
    font-weight: bold;
}
.box-swiper-sp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.outstanding {
    display: flex;
    justify-content: space-between;
}
.link-view-all {
    font-size: 16px;
    text-decoration: underline;
    color: #000000;
    width: 100px;
    text-align: right;
}
.title-styling {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    color: #000000;
}
.content-styling {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0;
}
.box-banner-home {
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-img-banner-home {
    width: 50%;
    object-fit: cover;
}
.box-official {
    margin-bottom: 100px;
    width: 100%;
}
.item-video {
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.box-item-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-link {
    margin-top: 15px;
}
.text-video {
    display: block;
    text-align: center;
}
.video-next {
    right: 100px;
    color: #000000;
    font-weight: bold;
}
.video-prev {
    left: 100px;
    color: #000000;
    font-weight: bold;
}
.box-advertisement {
    width: 100%;
    background-color: #f9f7f2;
    padding: 70px 0;
}
.content-adv {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mySwiperAdver {
    width: 60%;
    padding-bottom: 25px;
}
.swiperAdv {
    width: 36%;
}
.silde-adv {
    background-position: center;
    background-size: cover;
    width: 540px;
}
.slide-content-adv {
    display: none;
}
.silde-adv img {
    display: block;
    width: 100%;
}
.title-slide-adv {
    font-size: 26px;
    font-weight: bold;
    margin: 15px 0;
    color: #000000;
}
.link-adv {
    text-decoration: underline;
    color: #000000;
    margin-bottom: 16px;
    font-size: 16px;
}
.swiper-scrollbar-adv {
    width: 200px !important;
    height: 4px !important;
    bottom: 0px !important;
    left: 28% !important;
    opacity: 1 !important;
}
.box-child-adv {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-child-adv {
    display: flex;
    margin-bottom: 15px;
}
.img-child-sp {
    width: 50%;
}
.item-content-child-adv {
    width: 50%;
    margin-left: 15px;
}
.title-child-sp {
    font-size: 14px;
    font-weight: 500 !important;
    margin-bottom: 5px;
    color: #000000;
}
.title-tag {
    font-size: 12px;
    color: #7a7a7a;
    margin-bottom: 5px;
    font-weight: 500 !important;
}
.content-menu-outstanding {
    width: fit-content !important;
    margin-right: 20px !important;
}
.icon-polygon {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1570px) {
    .content-adv {
        width: 80%;
    }
}
@media (max-width: 1260px) {
    .content-adv {
        width: 93%;
    }
    .swiper-scrollbar-adv {
        left: 25.5% !important;
    }
    .main-nav-with-img-banner a .nav-img,
    .main-nav-with-img-banner > div {
        max-width: 300px;
    }
}
@media (max-width: 992px) {
    .box-collection {
        width: 77%;
    }
    .content-adv {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .mySwiperAdver {
        width: 100%;
    }
    .swiperAdv {
        width: 60%;
        margin-top: 30px;
    }
    .swiper-scrollbar-adv {
        left: 31% !important;
    }
    .img-child-sp {
        width: 45%;
    }
    .item-content-child-adv {
        width: 55%;
    }
    .title-outstanding,
    .title-official {
        font-size: 30px;
    }
    .box-outstanding {
        padding: 50px;
    }
    .video-next {
        right: 50px;
    }
    .video-prev {
        left: 50px;
    }
    .box-footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main-nav-with-img-banner {
        padding: 100px 0;
    }
    .main-nav-with-img-banner a {
        font-size: 24px;
    }
    .main-nav-with-img-banner a .nav-img,
    .main-nav-with-img-banner > div {
        max-width: 255px;
    }
}
@media (max-width: 767px) {
    .main-nav-with-img-banner a .nav-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        padding: 0;
        max-width: 420px;
        width: 100%;
        padding-top: 114%;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }
    .main-nav-with-img-banner a .nav-img,
    .main-nav-with-img-banner > div {
        width: 100%;
    }
    .title-slide-banner,
    .main-nav-with-img-banner a,
    .title-collection,
    .title-outstanding,
    .title-official {
        font-size: 21px;
    }
    .content-slide-banner,
    .content-collection,
    .link-collection,
    .swiper-slide p,
    .link-view-all {
        font-size: 14px;
    }
    .content-brand {
        width: 100% !important;
        font-size: 14px;
    }
    .box-collection {
        width: 100%;
        padding: 0 50px;
        flex-wrap: wrap;
    }
    .item-collection {
        width: 100%;
        margin-bottom: 20px;
    }
    .box-outstanding {
        padding: 40px 20px;
    }
    .box-swiper-sp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .box-advertisement {
        background-color: white;
        padding: 20px 0;
    }
    .content-adv {
        width: 100%;
    }
    .silde-adv {
        width: 355px;
    }
    .slide-content-adv {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .title-slide-adv {
        color: white;
        margin: 5px 0;
        font-size: 18px !important;
        line-height: 1.2;
    }
    .link-adv {
        font-size: 14px;
        color: white;
    }
    .mySwiperAdver {
        padding-bottom: 0;
    }
    .swiper-scrollbar-adv {
        opacity: 0 !important;
    }
    .swiperAdv {
        width: 90%;
    }
    .img-child-sp {
        width: 35%;
    }
    .box-banner-home {
        flex-wrap: wrap;
    }
    .item-img-banner-home,
    .item-video {
        width: 100%;
    }
    .icon-polygon {
        width: 40px;
    }
    .title-official {
        padding: 0 20px;
    }
    .video-next,
    .video-prev {
        display: none;
    }
}
